table {
    width:100%;
}

th {
    height:100px;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    font-size: 32;
    color: inherit;
}

td {
    text-align:center;
    height:50px;
}